.footer {
    background: var(--color-accident-one);
    padding: 24px 56px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 767px) {
        padding: 20px;
    }
    &__info {
        display: flex;
        flex-direction: column;
    }
}
