.nav-pills {
    list-style: none;
    display: flex;
    padding: 0;
    &__item {
        margin-right: 56px;
    }
    &__link {
        @include body;
        color: var(--main-white);
        font-weight: 500;
        text-decoration: none;
        position: relative;
        &.active {
            color: var(--color-accident-one);
        }
        &::after {
            content: "—";
            position: absolute;
            right: -32px;
            bottom: -3px;
            color: var(--main-white);
            @media (max-width: 767px) {
                color: var(--main-lt-grey);
            }
            @media (min-width: 768px) and (max-width: 1199px) {
                color: var(--main-lt-grey);
            }
        }
        &--clean {
            &::after {
                content: "";
            }
        }
        @media (max-width: 767px) {
            color: var(--main-lt-grey);
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            color: var(--main-lt-grey);
        }
    }
}
